@import '../../css/styles.scss';
@import '../../css/compact_styles.scss';
@import '../../css/denormalize.scss';

$condition_label_width: 60px;
$condition_label_height: 30px;
$condition_label_background: #CCC;
$condition_line_space: 30px;

.group {
  background: none;
  border: solid 1px transparent;
  border-radius: 0;
  text-align: left;

  .rule-wrapper {
    display: flex;
    align-items: center;

    // Condition label
    & > span {
        display: flex;
        width: $condition_label_width;
        height: $condition_label_height;
        background: $condition_label_background;
        justify-content: center;
        align-items: center;
        border-radius: 3px;
        margin-top: -6px;
        position: relative;

        &::after {
          content: ' ';
          position: absolute;
          top: $condition_label_height;
          left: $condition_label_width / 2 - 1;
          width: 1px;
          height: $condition_line_space;
          border: solid 2px $condition_label_background;
        }
    }
  }

  // Don't display line for last item
  .rule-wrapper:last-child {
    span::after {
      visibility: hidden;
    }
  }

  .rule--field, .rule--value {
    .ant-select, input {
      min-width: 150px;
    }
  }
}

.rule {
  display: flex;
  align-items: center;

  .rule--header {
    margin-left: 20px;
    float: none;
    display: flex;
    align-items: center;
  }
}